<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
    <ul>
      <% for (shortUrl in urls) { %>
        <% if (urls[shortUrl].user_id === login) { %>
      <li> <%= shortUrl %> ---> <a href = '<%= urls[shortUrl].longurl %>'> <%= urls[shortUrl].longurl %> </a> &emsp; <a href = /urls/<%= shortUrl %>> Edit </a> &emsp;  <form method="POST" action= '/urls/<%= shortUrl %>/delete'>
          <input type="submit" value="Delete">
        </form></li>
        <% } %>

      <% }; %>
    </ul>

</body>
</html>