<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
    <ul>
      <% for (thing in urls) { %>
      <li> <%= thing %> ---> <a href = '<%= urls[thing] %>'> <%= urls[thing] %> </a> &emsp; <a href = /urls/<%= thing %>>Edit </a> &emsp;  <form method="POST" action= '/urls/<%= thing %>/delete'>
          <input type="submit" value="Delete">
        </form></li>

      <% }; %>

</body>
</html>